.fa-icons-right{ top: 3px; position: relative; }
.lr-v-middle{vertical-align:middle !important;}

.color1{
    background-color:#3CADD4;
    color: #FFF;
}
.color2{
    background-color:#3C61D4;
    color: #FFF;
}
.color3{
    background-color:#633CD4;
    color: #FFF;
}
.color4{
    background-color:#AF3CD4;
    color: #FFF;
}
.color5{
    background-color:#D43CAD;
    color: #FFF;
}
.color6{
    background-color:#D43C61;
    color: #FFF;
}
.color7{
    background-color:#D4633C;
    color: #FFF;
}
.color8{
    background-color:#D4AF3C;
    color: #FFF;
}
.color9{
    background-color:#ADD43C;
    color: #FFF;
}
.color10{
    background-color:#61D43C;
    color: #FFF;
}
