@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,200italic,400italic,700italic);
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
html{
  height:100%;
}
body {
  font-family: 'Source Sans Pro', sans-serif !important;
  height:100%;
  padding-bottom: 40px;
  color: #5a5a5a;
  background: #F5F5F5;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

#map-canvas {
  width: 100%;
  height: 400px;
}

.noticia h1, h2{
  color: #4D83BF;
  font-weight: 200 !important;
  letter-spacing: 2px;
}

.form-contato input{
  height: 50px !important;
  border: 0px !important;
  background: #E6E6E6 !important;
  outline-color: transparent;
  outline-style: none;
}
.form-contato textarea{
  height: 200px !important;
  border: 0px !important;
  background: #E6E6E6 !important;
  outline-color: transparent;
  outline-style: none;
}

.clientes{
  color: #FFF;
  background: #2B2D35;
  padding: 60px 0;
}
.clientes h3{
  font-size: 30px !important;
  letter-spacing: 2px !important;
  font-weight: 100 !important;
  margin: 0 auto;
  margin-bottom: 60px;
}

.contato{
  color: #999;
  padding: 60px 0;
}
.contato h3{
  font-size: 30px !important;
  letter-spacing: 2px !important;
  font-weight: 100 !important;
  margin: 0 auto;
  margin-bottom: 60px;
  color: #4D83BF;
}

footer{
  background: #2B2D35;
  min-height: 200px;
  color: #888;
  text-align: center;
  padding-top: 20px;
}

footer a{
  color: #888;
}

footer a:hover{
  color: #FFF;
}

.social-icons{
  font-size: 30px;
  font-weight: 100 !important;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  text-align:center;
  margin-bottom: 80px;
  min-height: 110%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  position: absolute;
  right: 15%;
  top: 150px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

/* Declare heights because of positioning of img element */
.carousel .item {
  min-height: 100%;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100% !important;
}

.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;
}
/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}


#menu-mconsult.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#menu-mconsult.navbar-default {
    font-size: 14px;
    background-color: rgba(248, 248, 248, 0);
    border-width: 1px;
    border-radius: 4px;
    border: 0px;
}
#menu-mconsult.navbar-default .navbar-nav>li>a {
    color: #FFF;
    background-color: rgba(248, 248, 248, 0);
}
#menu-mconsult.navbar-default .navbar-nav>li>a:hover,
#menu-mconsult.navbar-default .navbar-nav>li>a:focus {
    color: #FFF;
    background-color: rgba(248, 248, 248, 0);
    text-decoration: underline;
}
#menu-mconsult.navbar-default .navbar-nav>.active>a,
#menu-mconsult.navbar-default .navbar-nav>.active>a:hover,
#menu-mconsult.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(231, 231, 231, 0);
}
#menu-mconsult.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#menu-mconsult.navbar-default .navbar-toggle:hover,
#menu-mconsult.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#menu-mconsult.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#menu-mconsult.navbar-default .navbar-toggle:hover .icon-bar,
#menu-mconsult.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #888;
}


.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon:active, .icon:hover {
  text-decoration: none;
}

.icon > .label {
  display: none;
}

.icon.rounded {
  background-color: #383b43;
  border-radius: 100%;
  color: #ffffff;
  display: inline-block;
  height: 3.25em;
  line-height: 3.25em;
  text-align: center;
  width: 3.25em;
}

.icon.rounded.big {
  font-size: 3.5em;
  margin-bottom: 0.5em;
}

.icon.rounded.color1 {
  background-color: #3cadd4;
}

.icon.rounded.color2 {
  background-color: #3c61d4;
}

.icon.rounded.color3 {
  background-color: #633cd4;
}

.icon.rounded.color4 {
  background-color: #af3cd4;
}

.icon.rounded.color5 {
  background-color: #d43cad;
}

.icon.rounded.color6 {
  background-color: #d43c61;
}

.icon.rounded.color7 {
  background-color: #d4633c;
}

.icon.rounded.color8 {
  background-color: #d4af3c;
}

.icon.rounded.color9 {
  background-color: #add43c;
}

.icon.rounded.color10 {
  background-color: #61d43c;
}

.icon.rounded.fa-twitter {
  background-color: #2daae4;
}

.icon.rounded.fa-facebook {
  background-color: #39599f;
}

.icon.rounded.fa-google-plus {
  background-color: #c91e1f;
}

.icon.rounded.fa-dribbble {
  background-color: #c4376b;
}

.icon.rounded.fa-tumblr, .icon.rounded.fa-linkedin {
  background-color: #31516a;
}

.icon.rounded.fa-rss {
  background-color: #f2600b;
}
.logo-mc{
  position:relative;
  top:-13px;
}
